.container {
    display: flex;
    flex-direction: column;
    background-color: darkmagenta;
    background-size: auto;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

.writeText {
    height: 150px;
    width: 750px;
    font-size: 24px;
}